{{ define "main" }}
  <main>
    <header>
      {{ partial "shared/breadcrumb-nav.html" . }}
    </header>
    <article>
      {{ partial "article/featured_image.html" . }}
      {{ partial "article/header.html" . }}
      {{ partial "article/meta.html" . }}

      {{ partial "article/toc.html" . }}

      {{/*
        TODO: Build failures on Travis CI are unacceptable!
              Are they avoidable? Investigate.
        {{ $user := "thombruce" }}
        {{ $repo := .Params.repo }}
        {{ if $repo }}
          {{ $resp := getJSON (printf "https://%s@api.github.com/repos/%s/readme" $user $repo)  }}
          {{ $resp.content | base64Decode | emojify | markdownify }}
        {{ else }}
          {{ partial "article/content.html" . }}
        {{ end }}
      */}}

      {{ partial "article/content.html" . }}

      {{ if .Param "authors" }}
        {{ partial "article/authors.html" . }}
      {{ else }}
        {{ if .Site.Author }}
          {{ partial "article/author.html" . }}
        {{ end }}
      {{ end }}
    </article>
    <footer>
      {{ partial "article/comments.html" . }}
    </footer>
  </main>
{{ end }}
