[submodule "themes/hugomodo"]
	path = themes/hugomodo
	url = https://github.com/hugomodo/hugomodo.git
[submodule "themes/hugomodo-best-motherfucking-website"]
	path = themes/hugomodo-best-motherfucking-website
	url = https://github.com/hugomodo/hugomodo-best-motherfucking-website.git
[submodule "themes/hugomodo-image-processing"]
	path = themes/hugomodo-image-processing
	url = https://github.com/hugomodo/hugomodo-image-processing.git
[submodule "themes/hugomodo-shortcode-partials"]
	path = themes/hugomodo-shortcode-partials
	url = https://github.com/hugomodo/hugomodo-shortcode-partials.git
[submodule "public"]
	path = public
	url = git@github.com:hugomodo/hugomodo.github.io.git
	branch = master
[submodule "themes/hugomodo-fusejs"]
	path = themes/hugomodo-fusejs
	url = https://github.com/hugomodo/hugomodo-fusejs.git
